.card {
    background-color: #21332A;
    color: #fff;
    width: 15vw;
    height: 40dvh;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 90%;
    height: 40%;
    object-fit: contain;
}